.git
.github
.idea
.pytest_cache
.ruff_cache
.venv
__pycache__
*.py[cod]
.DS_Store

.env
.env.production

docs
tests

apps/frontend/artifacts
apps/frontend/user_data
packages/fedotllm/src/fedotllm/ui/artifacts
packages/fedotllm/src/fedotllm/ui/user_data
