FEDOTLLM_PORT=8501

FEDOTLLM_LLM_API_KEY=
FEDOTLLM_LLM_MODEL=gemini-2.0-flash
FEDOTLLM_LLM_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/

CAAFE_LLM_API_KEY=
CAAFE_LLM_MODEL=openai/gemini-2.0-flash
CAAFE_LLM_BASE_URL=https://generativelanguage.googleapis.com/v1beta/openai/

LANGFUSE_SECRET_KEY=
LANGFUSE_PUBLIC_KEY=

